.image-container {
    position: relative;
    width: 100%; /* Set the width to 100% for smaller screens */
    height: auto; /* Allow height to adjust automatically */
    
  }
  
  .moving-image {
    position: absolute;
    animation: moveUpDown 5s ease-in-out infinite alternate;  
  }
  
  @keyframes moveUpDown {
    0%, 100% {
      transform: translateY(20px); /* Start and end position */
    }
    50% {
      transform: translateY(30px); /* Mid-point position (move up) */
    }
  }
  